
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCardLabel" >
             {{ vm.card.id == null ? ("kioskApp.card.home.createLabel" | translate) : ("kioskApp.card.home.editLabel" | translate) }}
        </h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label" translate="kioskApp.card.number" for="field_number">Number</label>
            <input type="text" class="form-control" name="number" id="field_number"
                    ng-model="vm.card.number"
                    required ng-minlength="10" ng-maxlength="10" ng-focus tabindex="1" />
            <div ng-show="editForm.number.$invalid">
                <p class="help-block"
                    ng-show="editForm.number.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.number.$error.minlength" translate="entity.validation.minlength" translate-value-min="10">
                    This field is required to be at least 10 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.number.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="10">
                    This field cannot be longer than 10 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="kioskApp.card.ownerName" for="field_ownerName">Owner Name</label>
            <input type="text" class="form-control" name="ownerName" id="field_ownerName"
                    ng-model="vm.card.ownerName"
                    required ng-focus tabindex="2"/>
            <div ng-show="editForm.ownerName.$invalid">
                <p class="help-block"
                    ng-show="editForm.ownerName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="kioskApp.card.ownerSurname" for="field_ownerSurname">Owner Surname</label>
            <input type="text" class="form-control" name="ownerSurname" id="field_ownerSurname"
                    ng-model="vm.card.ownerSurname"
                    required ng-focus tabindex="3"/>
            <div ng-show="editForm.ownerSurname.$invalid">
                <p class="help-block"
                    ng-show="editForm.ownerSurname.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="kioskApp.card.smsNumber" for="field_smsNumber">Sms Number</label>
            <input type="text" class="form-control" name="smsNumber" id="field_smsNumber"
                    ng-model="vm.card.smsNumber"
                    required />
            <div ng-show="editForm.smsNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.smsNumber.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="kioskApp.card.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.card.email"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="kioskApp.card.status" for="field_status">Status</label>
            <select ng-init="vm.card.status = 'active'" class="form-control" name="status" ng-model="vm.card.status" id="field_status" required>
                <option value="active" translate="kioskApp.CardStatus.active">active</option>
                <option value="blocked" translate="kioskApp.CardStatus.blocked">blocked</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="kioskApp.card.type" for="field_type">Type</label>
            <select ng-init="vm.card.type = 'BRONZE'" class="form-control" name="type" ng-model="vm.card.type" id="field_type" required>
                <option value="BRONZE" translate="kioskApp.CardType.BRONZE">BRONZE</option>
                <option value="SILVER" translate="kioskApp.CardType.SILVER">SILVER</option>
                <option value="GOLD" translate="kioskApp.CardType.GOLD">GOLD</option>
                <option value="PLATINUM" translate="kioskApp.CardType.PLATINUM">PLATINUM</option>
            </select>
            <div ng-show="editForm.type.$invalid">
                <p class="help-block"
                    ng-show="editForm.type.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" translate="kioskApp.card.balance" for="field_balance">Balance</label><br>
            <label class="control-label" id="field_balance"><b>{{ vm.card.balance }}</b> points</label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
